*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}


.container {
    margin: auto;
    margin-top: 250px;
    max-width: 800px;
    height: 350px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 48px;
    margin: 20px 0;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}

#contador{
    font-size: 36px;
    margin: 20px 0;
}